<form #form="ngForm" (ngSubmit)="saveExpense(expense)">
  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input type="text" [(ngModel)]="expense.title" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input type="text" [(ngModel)]="expense.description" name="description"></ion-input>
  </ion-item>
<ion-item>
    <ion-label>Amount</ion-label>
    <ion-input type="number" [(ngModel)]="expense.amount" name="amount"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Mandatory</ion-label>
    <ion-checkbox color="primary" [(ngModel)]="expense.mandatory" slot="start" name="mandatory"></ion-checkbox>
  </ion-item>
  <ion-button *ngIf="!editMode" color="primary" type="submit" >CREATE</ion-button>
  <ion-button *ngIf="editMode" color="primary" type="submit" >EDIT</ion-button>
</form>