<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="height: 100%;">
    <ion-card-header>
      <ion-title style="text-align: center;">Hello {{username}}!
      </ion-title>
      <ion-card-subtitle style="text-align: center;">In order to use MyPocket App you you need to complete
        the following required information.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="user-settings">

        <form #form="ngForm" (ngSubmit)="addUserBudgetSettings()">
          <ion-item>
            <ion-label>Monthly income(salary)<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="number" [(ngModel)]="user.salary" name="salary"></ion-input>RON
            <!-- sa se puna ca la ing cu virgula -->
          </ion-item>
          <ion-item>
            <ion-label>Next date<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="date" [(ngModel)]="user.salaryDate" name="salaryDate"></ion-input>
            <!-- sa se puna ca la ing cu virgula -->
          </ion-item>
          <ion-list>
            <ion-text>Would you like to save monthly amount?<ion-text color="danger"></ion-text>
            </ion-text>
            <ion-radio-group [(ngModel)]="monthlySaving" name="monthlySaving">
              <ion-item>
                <ion-label>YES</ion-label>
                <ion-radio value="true"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>NO</ion-label>
                <ion-radio slot="end" value="false"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-item *ngIf="monthlySaving ==='true'">
            <ion-label>Saved amount<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="number" [(ngModel)]="user.savedAmount" name="savedAmount"></ion-input>RON
          </ion-item>

          <button ion-button type="submit" class="done" block>DONE</button>
        </form>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>