.userSettingsMessage{
    margin-top:30%;
    color:black;
    font-style: normal;
}
.user-settings{
    margin-top: 30px;
}
ion-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.done {
	box-shadow: 7px 16px 11px 0px #b5b5b5;
	background-color:#b59c4c;
	border-radius:27px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:16px 20px;
	text-decoration:none;
    text-shadow:0px 1px 8px #b59c4c;
    position: absolute;
    left: 35%;
    margin-top: 10px;
}
.done:active {
	position:relative;
	top:1px;
}