<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My pocket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Mandatory unpaid expenses</h1>
<ion-list >
  <ion-item *ngFor="let mandatoryUnpaidExpense of mandatoryUnpaidExpenses" >
    <ion-grid >
      <ion-row (press)="onHold(mandatoryUnpaidExpense)" [ngStyle]="{'background-color' :'red'}">
      <ion-col> {{mandatoryUnpaidExpense.title}}</ion-col>
        <ion-col>
          {{mandatoryUnpaidExpense.amount}} RON
        </ion-col>
         <ion-col>
          <!-- ultima data de plata care a fost depasita  -->
        </ion-col>
        
        <ion-col>  <ion-button (click)="makePayment(mandatoryUnpaidExpense)" [ngStyle]="{'display': selectedExpensesStatus==='Paid' ? 'none' : ''}" >PAY</ion-button> </ion-col>
        <ion-col>  <ion-button (click)="deleteExpense(mandatoryUnpaidExpense.id)" color="blue">DELETE</ion-button> </ion-col>
        <ion-col>  <ion-button (click)="editExpense(mandatoryUnpaidExpense)" [ngStyle]="{'display': selectedExpensesStatus==='Paid' ? 'none' : ''}" >EDIT</ion-button> </ion-col>

      </ion-row>
      </ion-grid>
  </ion-item>
</ion-list>
<ion-content>

