ion-grid {
	box-shadow: -1px 0px 12px 4px #aa69ff;
	background:linear-gradient(to bottom, #000000 5%, #392854 100%);
	background-color:#000000;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
    text-shadow:0px 1px 0px #0d0d0f;
    
}
ion-row:hover {
	background:linear-gradient(to bottom, #392854 5%, #000000 100%);
    background-color:#392854;
    border-color: white;
}
  