<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My pocket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;"> 
    <ion-datetime [(ngModel)]="selectedDate" placeholder="UNTIL DATE"></ion-datetime>
    <ion-button color="dark" (click)="showHistory()"> Show history</ion-button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          TITLE
        </div>
      </ion-col>
      <ion-col>
        <div>
          AMOUNT
        </div>
      </ion-col>
      <ion-col>
        <div>
          STATUS
        </div>
      </ion-col>
      <ion-col>
        <div>
          PAYMENT DATE
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let expense of expenses">
      <ion-col>
        <div>
          {{expense.title}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{expense.amount}} RON
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{expense.status}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{expense.paymentDate}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>