<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My pocket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
Title:{{expense.title}}
Description:{{expense.description}}
Amount:{{expense.amount}}
Status:{{expense.status}}
Category:{{expense.category}}
Manatory:{{expense.mandatory}}
Scheduled to be payed at following dates:
<ion-list>
  <ion-item *ngFor="let expensePeriod of expense.expensePeriods">
    {{expensePeriod.date}}
  </ion-item>
</ion-list>
</ion-content>
