<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-row>
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
      offset-xl="4">

      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Make account</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <form (ngSubmit)="register()" #userRegistrationForm="ngForm">
            <div class="form-group">
              <ion-item lines="none">
                <ion-label position="stacked">Username</ion-label>
                <ion-input class="form-control" type="text" placeholder="Username" id="username" name="username"
                  [(ngModel)]="user.username" #username="ngModel" required></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="stacked">Email</ion-label>
                <ion-input class="form-control" type="email" placeholder="Email" id="email" name="email"
                  [(ngModel)]="user.email" required email #email="ngModel"></ion-input>
              </ion-item>
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Invalid email.
              </div>

              <ion-item lines="none">
                <ion-label position="stacked">Password</ion-label>
                <ion-input class="form-control" type="password" placeholder="Password" id="password" name="password"
                  [(ngModel)]="user.password" required minlength="6" #password="ngModel">
                </ion-input>
              </ion-item>
              <div *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert alert-danger">
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters long.
              </div>
              </div>
              <ion-button type="submit" [disabled]="!userRegistrationForm.form.valid" color="secondary" expand="block">
                REGISTER</ion-button>
              <!-- <ion-button (click)="register()" color="secondary" expand="block">Register</ion-button> -->
            </div>
          </form>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>