<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My pocket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="container">
    <ion-card>
      <ion-button (click)="removeCategory()" color="transparent" class="remove-category"> <ion-icon name="trash-sharp"></ion-icon></ion-button>   
      <ion-card-title class="center-text">
        {{expenseCategoryName}}
      </ion-card-title>
      <ion-card-subtitle class="center-text">
        {{month}} | Spent amount: {{ getSpentCategoryAmount() }} RON
      </ion-card-subtitle>
      <ion-item-divider>
      </ion-item-divider>
      <ion-grid>
        <ion-row class="center-text">
          <ion-col>
            <ion-button color="success" (click)="showCurrentUserBudgetModal()">Show Budget <ion-icon name="cash"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="secondary" (click)="showExpenses('Paid')" size="full">Paid</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="secondary" (click)="showExpenses('Unpaid')" size="full">Unpaid</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="showHistory()" size="full">History</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <section>
      <ion-button (click)="openExpenseManagementPage()" size="block">Add new expense</ion-button>
    </section>
  </div>
</ion-content>