ion-title{
    color:white;
}
ion-header{
    background-color: black;
}

.center-text {
    text-align: center;
}

.remove-category {
    position: absolute;
    right: 0;
    font-size: 15px;
    top: 0;
    color: indianred;
    z-index: 99999;
}