<div [ngStyle]="backgroundStyle">
  <ion-item [ngStyle]="backgroundStyle">
    <ion-icon name="calendar" slot="start">
    </ion-icon>
    <ion-button fill="clear" class="calendar-button">
      {{monthLabels[monthSelected]}}
    </ion-button>
    <ion-button fill="clear" class="calendar-button">
      {{yearSelected}}
    </ion-button>

    <span slot="end" *ngIf="hasPrevious() || hasNext()">
      <ion-button fill="clear" [disabled]="!hasPrevious()" (click)="previous()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button fill="clear" [disabled]="!hasNext()" (click)="next()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </span>

  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let daylabel of dayLabels" text-center [ngStyle]="dayLabelsStyle">
        {{daylabel}}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let week of weeks">
      <ion-col *ngFor="let day of week" (click)="selectDay(day)" text-center>
        <span [ngClass]="dayAdded(day) ? 'added-day' : 'not-added-day'">{{day.dayOfMonth}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-card>
    <ion-card-title class="center-text" style="margin-bottom: 20px;">
     Selected Dates
    </ion-card-title>
    <div class="date-container">
      <span class="date-itm" *ngFor="let date of getPickedDates()" (click)="removeDate(date)">
        <ion-badge color="primary">{{date.toLocaleDateString()}}</ion-badge>
      </span>
    </div>
    
  </ion-card>

</div>