.item {
    .item-inner {
      border-bottom: none !important;
    }
  }
ion-icon {
  font-size: 25px;
}
.year-range {
  font-size: 15px;
  font-weight: 550;
  &.button[disabled] {
    opacity: 1;
    color: gray !important;
  }
}
.calendar-button {
  text-decoration: underline;
  padding-right: 2px !important;
  padding-left: 2px !important;
}
.invalidMonth {
  color: #8b8b8b
}
.date-itm {
  margin-left: 10px;
}
.date-container {
  text-align: center;
  max-height: 400px;
  overflow-y: scroll;
}

.added-day {
  border-radius: 50%;
  padding: 0px 2px 0px 2px;
  background: #fff;
  border: 2px solid red;
  color: black;
  text-align: center;
}

.not-added-day {
  color: black;
}
.center-text {
  text-align: center;
}