<ion-list>
  <ion-list-header>Numele utilizatorului</ion-list-header>
  <ion-item button>My account</ion-item>
  <ion-item button (click)="logout()">Logout</ion-item>
  <ion-item button>About app</ion-item>
  <ion-item lines="none" detail="false" button (click)="dismissPopover()">Close</ion-item>
</ion-list>