<ion-header>
  <ion-toolbar>
    <ion-title>My pocket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- informatii din luna curenta -->
<ion-item>
  <ion-label>Username:</ion-label>
  <ion-label>{{ getUsername() }}</ion-label>
</ion-item>
<ion-item>
  <ion-label>Salary:</ion-label>
  <ion-label>{{ userSalary() }} RON</ion-label>
</ion-item>
<ion-item>
  <ion-label>Left amount:</ion-label>
  <ion-label>{{ userLeftAmount() }} RON</ion-label>
</ion-item>
<ion-item>
  <ion-label>Saved amount:</ion-label>
  <ion-label>{{ userSavedAmount() }} RON</ion-label>
</ion-item>
<ion-item>
  <ion-label>Spent amount :</ion-label>
  <ion-label>{{ userSpentAmount() }} RON</ion-label>
</ion-item>

<ion-button color="primary" (click)="closeModal()">CLOSE</ion-button>

</ion-content>
