<!--Side-menu-->
<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>My pocket</ion-label>
              </ion-col>
              <ion-col style="text-align: right;">
                <ion-label (click)="addNewCategory()">
                  <ion-icon class="addCategory" name="add-circle-outline"></ion-icon>
                </ion-label>
              </ion-col>
              <ion-col style="text-align: right;">
                <ion-label (click)="home()">
                  <ion-icon name="home-outline"></ion-icon>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list-header>
        <ion-toolbar>
          <ion-searchbar id="searchBar"></ion-searchbar>
        </ion-toolbar>
        <ion-card class="ionCardContent">        
          <ion-card-content>           
            <ion-list id="itemsParent">
              <ion-item *ngFor="let expenseCategory of expenseCategories" 
                (click)="showExpenseStatusesPage(expenseCategory)" detail="false">
                <ion-label>{{expenseCategory.name}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-button (click)="logout()" color="secondary" expand="block">Log out</ion-button>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>