ion-list-header{
    background-color:black;
    color:white;
}
.add-buget-button{
    border-radius: 50px;
    border-color:black;
    background-color:#9c7713;
    width: 50px;
    height: 50;
    display: inline-block;
    margin: 0;
    padding: 0px; 
}
.addCategory{
    display: inline-block;
    width: 19px;
    height: 19px;
    color:#a382d8;
    border-radius: 50px;
}
.ionCardContent{
-webkit-box-shadow: -5px -1px 32px 0px rgba(123,93,143,1);
-moz-box-shadow: -5px -1px 32px 0px rgba(123,93,143,1);
box-shadow: -5px -1px 32px 0px rgba(123,93,143,1);
overflow-y: scroll;
height: 74vh;
}



