<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My pocket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card>
      <ion-card-title class="center-text">
        {{selectedExpensesCategoryName}}
      </ion-card-title>
      <ion-card-subtitle class="center-text">
        {{selectedExpensesStatus}}
        <ion-button (click)="getExpenses()" color="primary">ALL</ion-button>
      </ion-card-subtitle>
      <ion-item-divider>
      </ion-item-divider>
      <app-date-picker></app-date-picker>
      <app-add-expense 
      [refresh]="refresh"
      [selectedExpensesCategoryName]="selectedExpensesCategoryName"
      [selectedExpensesCategoryDescription]="selectedExpensesCategoryDescription"
      [selectedExpensesCategoryId]="selectedExpensesCategoryId"
      [editMode]="editMode" [selectedExpensesStatus]="selectedExpensesStatus"></app-add-expense>
    </ion-card>
  </div>
  <ion-content>