ion-grid {
    border:2px;
}
.expenses-navbar{
    margin-top: 20px;
}
.expense-month{
    text-align:center;
}
.expenses-content{
    margin-top: 60px;
}
.center-text {
    text-align: center;
}
.expense-categoryName{
    text-align:center;
}
.expense-type{
    text-align:center;
}
.add-expense{
    border-radius: 50px;
  background: rgb(28, 223, 54);
  padding: 20px; 
  width: 50px;
  height: 50;
  display: inline-block;
  margin: 0; 
}
.toolbar-blur{
-webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.expenses-content-blur{
    margin-top: 60px;
    -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.months-row{
    // border-color: black; 
    // border-width: .01em; 
    // border-style:groove; margin-bottom : -1px;
    background-color: rgb(166, 253, 205);
}
.months-row  ion-col:hover{
    background-color:greenyellow;
}
.col-month-background{
    background-color:greenyellow;
}
ion-title{
    color:white;
}
ion-header{
    background-color: black;
}
