<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My pocket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card>
      <ion-card-title class="center-text">
        {{ selectedExpensesCategoryName}}
      </ion-card-title>
      <ion-card-subtitle class="center-text">
        {{ selectedExpensesStatus}}
      </ion-card-subtitle>
      <div style="width: 100%; text-align: center;">
        <ion-button (click)="addExpense()" *ngIf="selectedExpensesStatus === 'Unpaid'" color="secondary">
          <ion-icon name="add-sharp"></ion-icon> Add expense
        </ion-button>
      </div>
      <ion-item-divider>
      </ion-item-divider>
      <ion-list style="max-height: 80vh; overflow-y: scroll;">
        <ion-item *ngFor="let expense of expenses">
          <ion-card style="width: 100%; color: black;" >
            <ion-icon *ngIf="expense.mandatory" class="mandatory" name="bookmarks-sharp"></ion-icon>
            <ion-grid>
              <ion-row>
                <ion-col style="text-align: center;">
                  <ion-badge color="primary"> {{expense.title}}</ion-badge>
                </ion-col>
                <ion-col style="text-align: center;">
                  <ion-badge *ngIf="expense.mandatory" color="warning">Mandatory</ion-badge>
                </ion-col>
                <ion-col style="text-align: center;">
                  {{expense.amount}} RON <ion-icon style="width: 40px; height: 40px; color:rgb(91, 51, 128);" name="calendar"
                    (click)="showDates(expense)"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row [hidden]="selectedExpense!=expense" *ngFor="let expensePeriod of expense.expensePeriods"
              [ngStyle]="{'background-color': expensePeriod.payed ? 'rgb(187, 193, 230)' : 'rgb(255, 99, 99)'}">
                <ion-col></ion-col>
                <ion-col>
                  {{expensePeriod.date}}   <ion-icon [hidden]="expensePeriod.payed" name="warning" style="color:yellow;"></ion-icon>
                                           <ion-icon [hidden]="!expensePeriod.payed" name="checkmark" style="color:green;"></ion-icon>
                </ion-col>
                <ion-col></ion-col>
              </ion-row>
              <ion-row>
                <ion-card style="width: 100%;">
                  <ion-card-subtitle class="center-text">
                    Description:
                  </ion-card-subtitle>
                  <hr>
                  <div style="padding: 10px;">
                    {{ expense.description }}
                  </div>
                </ion-card>
              </ion-row>
              <ion-row>
                <ion-col style="text-align: center;">
                  <ion-button (click)="makePayment(expense)"
                    [ngStyle]="{'display': selectedExpensesStatus==='Paid' ? 'none' : ''}">PAY</ion-button>
                </ion-col>
                <ion-col style="text-align: center;">
                  <ion-button (click)="deleteExpense(expense.id)" color="warning">DELETE</ion-button>
                </ion-col>
                <ion-col style="text-align: center;">
                  <ion-button (click)="editExpense(expense)"
                    [ngStyle]="{'display': selectedExpensesStatus==='Paid' ? 'none' : ''}">EDIT</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
  <ion-content>