<ion-header class="header">
  <ion-toolbar>
    <ion-title>My pocket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
      offset-xl="4">

      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Your Account</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <form (ngSubmit)="login()" #userLoginForm="ngForm">
            <div class="form-group">

            <ion-item lines="none">
              <ion-label position="stacked">Username</ion-label>
              <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="user.username" required></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Password</ion-label>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required>
              </ion-input>
            </ion-item>
            <ion-button type="submit" [disabled]="!userLoginForm.form.valid" color="secondary" expand="block">
              LOGIN</ion-button>
            <ion-button expand="block" color="secondary" routerLink="/register" routerDirection="forward">Register
            </ion-button>
            </div>
            </form>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>