.header{
    background-color: black;
    color:white;
}

.login-button{
    background-color:#9c7713;
    color: white;
}
 .register-button{
    background-color:#9c7713;
    color: white;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }