<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My pocket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="center-text">
    <ion-chip outline color="primary">
      <ion-title size="large">Hello {{ getUsername() }}</ion-title>
    </ion-chip>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Account details</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Username:</ion-label>
          <ion-label>{{ getUsername() }} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-label>{{ getEmail() }} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Salary amount:</ion-label>
          <ion-label>{{ userSalary() }} RON</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Salary date:</ion-label>
          <ion-label>{{ getSalaryDate() }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Left amount:</ion-label>
          <ion-label>{{ userLeftAmount() }} RON</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Saved amount:</ion-label>
          <ion-label>{{ userSavedAmount() }} RON</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Total spent amount :</ion-label>
          <ion-label>{{ userSpentAmount() }} RON</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>